/* 
    The styles for the help menu (help.html) (Linked to by boxi.html).
*/
* {
    font-family: 'Fira Code';
}

/**** Elements ****/
body {
    background-color: rgb(41, 41, 41);
}
h1 {
    text-align: center;
    color: aqua;
    filter: drop-shadow(0 0 0.8rem aqua);
}
h2 {
    text-decoration: underline;
    color: aqua;
    filter: drop-shadow(0 0 0.3rem aqua);
}
.no-code, .has-code p{
    color: aqua;
    filter: drop-shadow(0 0 0.3rem aqua);
}
article b {
    color: aquamarine;
    filter: drop-shadow(0 0 0.3rem aquamarine);
}
hr {
    border-style: solid;
    border-color: aqua;
}
ul {
    list-style: square;
}
li {
    padding-top: 4px;
    padding-bottom: 4px;
}
code {
    background-color: rgb(54,54,54);
    color: aliceblue;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

/**** IDs ****/
#clock {
    position: absolute;
    scale: 0.45;
    margin-top: -20%;
    margin-left: 73%;
    filter: blur(2px) drop-shadow(0 0 0.8rem aqua);
}

/**** Classes ****/
.source {
    color: aquamarine;
    text-decoration: none;
    font-weight: 600;
}

.source:hover {
    animation: hoverGrow 0.1s steps(50) forwards; 
}
.back {
    color: aqua;
    filter: drop-shadow(0 0 0.3rem aqua);
    text-decoration: none;
}
.back:hover{
    color: aquamarine;
    filter: drop-shadow(0 0 0.3rem aquamarine);
    animation: hoverMove 0.1s steps(50) forwards; 
}

/**** Scrollbar ****/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(21,21,21);
}
::-webkit-scrollbar-thumb {
    background: aqua;
}
::-webkit-scrollbar-thumb:hover {
    background: aquamarine;
}

/**** Animations ****/
@keyframes hoverMove {
    0% {
        margin-left: initial;
    }
    100% {
        margin-left: -5px;
    }
}
@keyframes hoverGrow {
    0% {
        font-size: initial;
    }
    100% {
        font-size: larger;
    }
}
@keyframes rotate {
    0% {
        rotate: 180;
    }
    100% {
        rotate: 360;
    }
}