/*
Styles for the main menu (index.html).
*/

/* Body */
body {
    /* Color */
    background-color: rgb(43, 43, 43);

    /* Size */
    height: 90vh;
}

/* Buttons */
.button-container {
    /* Position */
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

    /* Size */
    height: 250px;
}

.normalbtn {
    /* Position */
    text-align: center;

    /* Font */
    text-decoration: none;
    font-family: 'Fira Code';
    font-size: 30px;
    font-weight: 900;

    
    /* Border */
    border-style: solid;
    border-color: aqua;
    border-radius: 10px;
    
    /* Size */
    width: 200px;
    height: 46px;
    
    /* Color */
    color: rgb(43, 43, 43);
    background-color: aqua;
    filter: drop-shadow(0 0 0.8rem aqua);

    /* Transition */
    transition: all 0.3s ease;

    /* Cursor */
    cursor: pointer;
}

.normalbtn:hover {
    /* Color */
    border-color: aquamarine;
    background-color: aquamarine;
    filter: drop-shadow(0 0 0.8rem aquamarine);

    /* Font */
    font-size: 32px;
}

/* Footer */
footer {
    /* Color */
    color: aqua;

    /* Font */
    font-family: 'Times New Roman';
}

/* Title */
.title-container {
    /* Position */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    /* Color */
    filter: drop-shadow(0 0 2rem white);
    
    /* Size */
    width: 500px;
}

/* Github Link */
.link-container {
    /* Position */
    display: flex;
    flex-direction: column;

    /* Size */
    height: 55px;
}

.github-link img {
    /* Size */
    width: 50px;

    /* Transition */
    transition: all 0.3s ease;
}

.github-link img:hover {
    /* Invert Colors */
    filter: invert();
}