/*
Styles for the main menu (index.html).
*/

/* Body */
body {

    /* Color */
    background-color: rgb(43, 43, 43);

    height: 90vh;
}

/**** Elements ****/
/* Buttons */
.button-container {
    display: flex;
    flex-direction: column;
    height: 250px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.normalbtn {
    /* Position */
    text-align: center;

    /* Font */
    text-decoration: none;
    font-family: 'Fira Code';
    font-size: 30px;
    font-weight: 900;

    /* Color */
    color: rgb(43, 43, 43);
    background-color: aqua;
    
    /* Border */
    border-style: solid;
    border-color: aqua;
    border-radius: 10px;

    /* Size */
    width: 200px;
    height: 46px;

    filter: drop-shadow(0 0 0.8rem aqua);
    transition: all 0.3s ease;
}

.normalbtn:hover {
    /* Color */
    border-color: aquamarine;
    background-color: aquamarine;
    filter: drop-shadow(0 0 0.8rem aquamarine);
    font-size: 32px;
}



/* Footer */
footer {

    /* Color */
    color: aqua;

    /* Font */
    font-family: 'Times New Roman';
}

/**** IDs ****/


/**** Classes ****/
/* Title */
.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    /* Position */
    filter: drop-shadow(0 0 2rem white);
    /* Size */
    width: 500px;
}

/* Github Link */
.link-container {
    display: flex;
    flex-direction: column;
    height: 55px;
}

.github-link img {
    width: 50px;
}

/**** Animations ****/

/* Hover */
/*
@keyframes hover {
    0% {
        
        font-size: 30px;

        width: 200px;
    }
    100% {


        font-size: 35px;


        width: 205px;
    }
}
*/