/* 
    The styles for the help menu (help.html) (Linked to by index.html).
*/

@import url(../Fonts/FIRACODE-VARIABLEFONT_WGHT.TTF);

* {
    font-family: 'Fira Code';
}

/**** Elements ****/
body {
    background-color: rgb(41, 41, 41);
}
h1 {
    text-align: center;
    color: aqua;
}
h2 {
    text-decoration: underline;
    color: aqua;
}
a {
    color: aqua;
    text-decoration: none;
}
a:hover {
    color: aquamarine;
    animation: hover 0.1s steps(50) forwards; 
}
article {
    color: aqua;
}
article b {
    color: aquamarine;
}
hr {
    border-style: solid;
    border-color: aqua;
}
p {
    color: aqua;
    width: 500px;
}

/**** Classes ****/
.icon {
    font-family: 'hololens mdl2 assets';
}
.DM, .LM {
    width: 20px;
    height: 20px;
}


/**** Scrollbar ****/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(21,21,21);
}
::-webkit-scrollbar-thumb {
    background: aqua;
}
::-webkit-scrollbar-thumb:hover {
    background: aquamarine;
}

/**** Animations ****/
@keyframes hover {
    0% {
        margin-left: initial;
    }
    100% {
        margin-left: -5px;
    }
}