@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Jetbrains Mono", monospace;
    background: #202020;
    color: white;
    gap: 20px;
}

.error-code { font-size: 80px; }
.error-message { font-size: 30px; }
